
#navbar{
    text-align:center;
    font-size:24px;
}
#navbar li{
    display:inline-block;
    border:3px solid black;
    padding: 2px;
}
#navbar a{
    background-color:aqua;
    color:black;
    text-decoration:none;
}
body{
    background-color:aqua;
    text-align:center;
}
